body {
	background-color: #eee;
}

div {
	padding: 5px;
	margin: 5px 5px 5px 5px;
}

p {
	font-family: 'Shadows Into Light', cursive;
	font-size: 24px;
	letter-spacing: 2px;
	line-height: 30px;
	text-align: center;
}

span {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #0fc;
	text-transform: uppercase;
}

.headfoot {
  border: 2px solid #000000;
  background: #bbb;
	width: 556px;
  clear: both;
  margin-bottom: 2px;
}

.column-a {
  width: 280px;
	float: left;
  margin: 0px;
}

.column-b {
  width: 280px;
	float: right;
  margin: 0px;
}

.quote {
  border: 2px solid #000;
  background: #bbb;
  margin: 0px 0px 5px 0px;
}

#parent {
  width: 580px;
  margin: auto;
}

#seizethem {
  height: 146px;
  padding-top: 25px;
}

@media (max-width: 1242px) {
	#parent {
		width: 90%;
	}
	.headfoot {
		width: 100%;
		margin-top: 1%;
	}
	p {
		font-size: 5em;
		line-height: 1.5em;
	}
	span {
		font-size: 0.75em;
	}
	div {
		padding: 2% 0 2% 0;
		margin: auto;
	}
	.quote {
		padding: 0 2% 0 2%;
		margin: 1% 0 3% 0;
	}
	.column-a {
		width: 49%;
	}
	.column-b {
		width: 49%;
	}
	.a {
		padding-top: 10%;
	}
	#love, #open, #travel, #seizethem {
		padding: 18% 0 17% 0;
	}
	#seizethem {
		height: auto;
	}
}
